:root{
  --form-input-color: #ccc;
  --form-bg-color:#483d8b;
  --form-submit-color:#ffffff;
  --form-container-bg-color :#f2f2f2;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--form-input-color);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: var(--form-bg-color);
    color: var(--form-submit-color);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: var(var(--form-bg-color));
  }
  
  .contact-container {
    border-radius: 5px;
    background-color: var(--form-container-bg-color);
    padding: 20px;
  }

  @media screen and (min-width: 50rem) {
    .contact-container {
       
    }
}